<ion-header>
  <ion-navbar>
    <ion-title class="book-div" *ngIf="dataInfo">
      {{title}}
      <div class="clearfix"></div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="dataInfo">

  <div class="oneHistory item item-remove-animate hist-item" id="view_inf_{{dataInfo.id}}" type="item-text-wrap">
    <h3 class="history-title center">
      <b>Thời gian bắt đầu: {{dataInfo.timeFrom}}</b>
    </h3>
    <h3 class="history-title center">
      <b>Thời gian kết thúc: {{dataInfo.timeTo}}</b>
    </h3>

    <div class="trip-details">
      <p class="trip-one-details" style="height: 100px;">
        {{dataInfo.details}}
      </p>
    </div>
  </div>
</ion-content>
