<!-- logged out menu -->
<ion-menu persistent="true" id="loggedOutMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<!-- logged in menu -->
<ion-menu persistent="true" id="loggedInMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>{{user_info.username}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <ion-list>
      
      <button> {{user_info.username}}
        Coin: {{user_info.coin}}
      </button>

      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
